@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.skill-circle {
  transition: 0.5s ease;
  background-color: #000000de;

}
.skill-circle:hover {
  border: 2px solid #06b6d4;
}
html {
  scroll-padding-top: 75px;
}
body {
  color: rgb(var(--foreground-rgb));
  background: #121212;
}
button,
span,
div {
  transition: 0.2s ease;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
}
h4 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.2;
}

h5 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2;
}
main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #121212;
  background-attachment: fixed;
  background-image: url(./assets/images/bg.png);
  background-size: cover;
}

.section {
  min-height: 100vh;
  padding: 20px 50px;
}

.border-gradient {
  background: linear-gradient(to right, #06b6d4, #3b82f6);
  border: 1px solid transparent;
}

.callout-container {
  position: relative;
  display: inline-block;
}

.callout-box {
  position: absolute;
  top: 90%;
  border-radius: 15px;
  font-size: small;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  background-color: #121212;
  color: #fff;
  text-align: center;
  min-width: 100px;
  padding: 5px;
  border-radius: 5px;
  display: none;
}

.callout-container:hover .callout-box {
  display: block;
}

.image-grid {
  --gap: 16px;
  --row-height: 300px;
  box-sizing: border-box;
  padding: var(--gap);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: var(--row-height);
}

@media only screen and (max-width: 1024px) {
  .image-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 640px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
